.favorite-button {
    background-color: transparent;
    transition: background-color 0.3s;
}

.favorite-button.active span {
    color: #fff;
}

.favorite-button:hover span {
    color: #fff;
}

.favorite-button:hover svg {
    fill: #fff;
    transition: fill 0.3s;
}

.read-button {
    background-color: transparent;
    transition: background-color 0.3s;
}

.read-button:hover svg {
    fill: #fff;
    transition: fill 0.3s;
}