.like-button {
    background-color: transparent;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.like-button.active {
    color: #fff;
}

.comments-section {
    width: 100%;
    margin-top: 10px;
}

.comments-section .comment {
    display: flex;
    align-items: flex-start; /* Alinha os itens ao topo */
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.comments-section .user-info {
    display: flex;
    align-items: center;
}

.comments-section .user-info img {
    margin-right: 10px; /* Adiciona um pequeno espaço entre a imagem e o nome do usuário */
}

.comment-content {
    flex: 1; /* Ocupa todo o espaço disponível */
    word-wrap: break-word; /* Quebra de palavra */
}

.comment-icons {
    margin-left: auto; /* Move os ícones para a direita */
}

.comment-edit-input {
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

.comment-edit-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-edit-button:hover {
    background-color: #0056b3;
}

.comment-content.edit-mode {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.edit-btn {
    background-color: transparent;
    border: none;
    padding: 0; /* Remova o preenchimento para evitar espaços extras */
    transition: background-color 0.3s; /* Adicione uma transição suave */
}

.edit-btn:hover svg {
    fill: #fff; /* Altere a cor do preenchimento do SVG dentro do botão ao passar o mouse sobre ele */
    transition: fill 0.3s; /* Adicione uma transição suave para a cor do preenchimento do SVG */
}

.delete-btn {
    background-color: transparent;
    border: none;
    padding: 0; /* Remova o preenchimento para evitar espaços extras */
    transition: background-color 0.3s; /* Adicione uma transição suave */
}

.delete-btn:hover svg {
    fill: #fff; /* Altere a cor do preenchimento do SVG dentro do botão ao passar o mouse sobre ele */
    transition: fill 0.3s; /* Adicione uma transição suave para a cor do preenchimento do SVG */
}
